* {
	margin: 0px;
	padding: 0px;
	font-family: Open Sans;
}

nav {
	background-color: white;
	padding: 20px;
	position: sticky;
	top: 0;
}

ul {
	list-style-type: none;
}

.nav-logo {
	position: left;
	padding-left: 100px;
}

.right-nav {
	float: right;
	word-spacing: 10px;
	padding-right: 100px;
}


li {
	display: inline-block;
}


.tuitt-button {
	margin-top: 5px;
	font-weight: bold;
	color: white;
	background-color: #c2195b;
	border: 0;
	border-radius: 15px;
	padding: 5px 15px;
}


#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg
);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.front-bg {
	background-color: rgba(8, 8, 8, 0.5);
	min-height: 50vh;
}

.title {
	font-family: Zilla Slab;
	color: white;
	text-align: right;
	font-size: 3em;
	padding: 0px 70px 50px 800px;
}

.subtitle {
	font-family: Open Sans;
	color: white;
	text-align: right;
	font-size: 1.5em;
	font-weight: lighter;
	padding: 0px 80px 0px 950px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border: 0;
	border-radius: 20px;
	padding: 10px 40px;
	float: right;
	margin-top: 15px;
	margin-right: 90px;
}

.title-2 {
	font-family: Zilla Slab;
	color: black;
	text-align: center;
	font-size: 3em;
	padding: 50px 0px 50px 0px;
}

.intro-description {
	color: black;
	text-align: left;
	font-size: 1em;
	padding: 0px 200px 100px 200px;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
} 

.prefooter-description {
	color: black;
	text-align: center;
	font-size: 1em;
	padding: 0px 200px 10px 200px;
}

.book-button {
	font-weight: bold;
	color: white;
	background-color: #336589;
	border: 0;
	border-radius: 20px;
	padding: 10px 40px;
}

footer {
	text-align: center;
	padding: 200px 0px 0px 0px;
}